@{
    ViewData["Title"] = "Home Page";
}
<form>
    <div class="text-left">
        <p>Escreva os parâmetros da equação </p>
        A= <input type="text" /> <br />
        B= <input type="text" /> <br />
        C= <input type="text" /> <br />

        <input type="submit" value="Calcular" />

        
    </div>
</form>
